<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571613286314-aaojkc3vm4e9d3jhdjnd2m9a6ri6uohh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571613286314-aaojkc3vm4e9d3jhdjnd2m9a6ri6uohh</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkgI-8y306FvhhdmpmpTb746KFGHDYLU</string>
	<key>GCM_SENDER_ID</key>
	<string>571613286314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hninWarehouseApp</string>
	<key>PROJECT_ID</key>
	<string>hninwarehouse</string>
	<key>STORAGE_BUCKET</key>
	<string>hninwarehouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571613286314:ios:ba9a385a79b55b53bc65d3</string>
	<key>DATABASE_URL</key>
	<string>https://hninwarehouse.firebaseio.com</string>
</dict>
</plist>